

body {
    background-color: rgb(166, 119, 210);
    font-family: "VT323", monospace;
    margin: 0;
}

h1 {
    font-family: "Caveat", cursive;
    font-size: 2.5rem;
    color: #fd5f00;
    margin: 0;
}

.subtitle,
nav a {
    font-size: 1.5rem;
    color: #f9f8eb;
    text-transform: uppercase;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header {
    background-color: #05004e;
    padding: 0.8em 0;
    box-shadow: 2px 2px 10px #f1f6f9;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    color: #fd5f00;
}





/* Main Content */
.aboutContainer {
    border: solid blue;
    padding: 65px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.projectsContainer {
    border: solid black;
    padding: 65px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: inline; */

    
}

.projectsContainer ul {
    list-style: none;

}

.projectsContainer ul li {
    display: inline;
}


.skillsContainer {
    border: dotted green;
    padding: 65px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
    
    
}

.skillsContainer ul {
    list-style: none;
}

.skillsContainer ul li {
    display: inline;
}


.contactContainer {
    padding: 65px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 65px;

}

.contactContainer ul {
    list-style: none;
}

.contactContainer ul li {
    display: inline;
}


@media (max-width: 640px) {
    .container {
      text-align: center;
    }
  
    .container-nav {
      flex-direction: column;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 0.8em 0;
    }
  }